.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
data-raw/cadesp
data-raw/esaj
data-raw/jucesp
data-raw/magick
data-raw/mnist
data-raw/mnist_zip
data-raw/mnist_zip.zip
data-raw/rfb
data-raw/tests
data-raw/tjes
data-raw/tjmg
data-raw/tjpe
data-raw/tjrs
data-raw/trf5
data-raw/trt/*
!data-raw/trt/trt-data.R
